.has-no-boarders{
    th, td{
      border: none !important;
    }
}

#project-overview-table{
    td{
       padding:1em 0;
    }
  tr{
    cursor: pointer;
  }
}

.table{
  td{
    .button{
      font-size:0.5em !important;
    }
  }
}